.nav {
    padding: 20px;
    background-color: white;
}

.nav>a {
    color: #757575;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid #757575;
    border-radius: 4px;
}

.nav>a.active {
    border: 1px solid #b24343;
    color: #b24343;
}